@import 'node_modules/furtive/scss/all';

.search {
  margin: 0 auto;
  max-width: 30rem;

  .btn {
    line-height: normal;
    padding: .6rem;
  }
}

$black: black;
$card-shadow: rgba(0, 0, 0, .2);

.card {
  box-shadow: 0 2px 4px 0 $card-shadow;
  transition: .3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 $card-shadow;
}

.expander {
  border-bottom: 1px dotted $black;
  display: flex;
  justify-content: space-between;

  span {
    margin-right: 1rem;
  }
}
